<!DOCTYPE html>
<html>
<head>
  <title>Graffi.so</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/lib/jquery/jquery-1.10.2.min.js"></script>
  <script src="/lib/leaflet/leaflet.js"></script>
  <script src="/lib/leaflet.markercluster/leaflet.markercluster.js"></script>
  <script src="/lib/react/react-with-addons-0.13.3.js"></script>
  <script src="/lib/react-router/react-router.13.3.js"></script>

  <% if(useJsx) { %>
  <script src="/lib/react/JSXTransformer.js"></script>
  <script type="text/jsx" src="/lib/app/HomePage.jsx"></script>
  <script type="text/jsx" src="/lib/app/Map.jsx"></script>
  <script type="text/jsx" src="/lib/app/appRouter.jsx"></script>
  <script type="text/jsx" src="/lib/app/base.jsx"></script>
  <% } else { %>
  <script src="/lib/app/clientApp.js"></script>
  <% } %>

  <link rel="stylesheet" href="/lib/app/normalize.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/lib/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/lib/leaflet.markercluster/MarkerCluster.Default.css" />
  <link rel="stylesheet" href="/lib/app/base.css" />

</head>

<body>

<div class="container" id="stuff"></div>

</body>
</html>